
body {
	margin: 0;
}
/***********************************NAVBAR*****************************************/
.navbarDiv {
	position: -webkit-sticky;
	background: transparent;
	transition: background .5s; 
	z-index: 1;
}

.navbarDiv.scrolled {
	background: white;
}
.navbarDiv {
	background-color: transparent;
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	transition: top 0.3s;
}

.navbarDiv.scrolled .navbar a {
	color: black;
}
.navbar {
	overflow: hidden;
	background-color: transparent;
	padding-right: 0px;
	padding-left: 0px;
	border-bottom: 1px solid #DCDCDC;	
}

.navbar a {
	color: white;
	float: left;
	text-align: center;
	padding: 10px 30px;
	text-decoration: none;
	font-size: 28px;
	font-family: "Times New Roman";
	font-weight: bold;
}

.navbar a:hover {
	color: #FFA500;
}

.navbar a.active {
	color: #FFA500;
}

.navBar_right {	
	float: right;
}

.navBar_right a {
	padding: 16px 16px;
	font-size: 18px;
	font-family: "Arial";
	font-weight: normal;
}

.navBar_right a:active {
	color: #FFA500;
	background-color: #fff5e6;
}
/*******************************************ABOUT LIST*************************************************/

.aboutbtn{
	float: left;
}

.about{
	display:none;
}

.about a{
	color: black;
	max-width: 175px;
	width: 100%;
	text-align: left;
	padding-left: 5px;
}

.aboutbtn:hover #aboutbtn{
	color: #FFA500;
}

.aboutbtn:hover .about{
	display: block;
	margin-top: 50px;
	margin-right: 25px;
	position: absolute;
	background-color: white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.about a:hover {
	background-color: #FFA500;
	margin-right: 25px;
	padding-right: 7px;
	color: white;
}

/*****************************************************************************************/


.side{
	position: fixed;
	right: 0;
	top: 100px;
	z-index: 1;
}

#mySidebar
{
    
    float: right;
    width: 55px;
    height: 160px;
    background-color: black;
    margin-top: 120px;
    text-align: center;
    justify-content: center;
    position: -webkit-sticky;  
    position: sticky;
    top: 120px;
    


}


#see,#test,#buy,#copy
{
    width: 55px;
    height: 40px;
    border-radius: 20px/100px;
    background-color: black;
    color: white;
    font-size: 25px;
    

}
.sidebar .text :hover{
    
    color: yellow;
    
}

.textsid
{
    float: right;
    height: 160px;
    width: 172px;
    margin-top: 120px;
    background-color: black;
    
    
    display : none;
}
#a,#b,#c,#d
{
    height: 43px;
    color: white;
    
   margin-left: 5px;


}


.w-switcher-section-list{
width: 170px;    
float: right;
margin: 0px;
height: 500px;
display : none;
overflow: scroll;
/*margin-top: 55px;*/
/*margin-left: -30px;*/
background-color: white;


}


a {
    text-decoration: none !important;
}
.demo-title {
    text-align: center;
    text-align: left;
    margin-right: 25px;
    font-size: 17px;
    color: black;
}
.w-switcher-section-item{
    
}

img{
    width: 132px;
    width:20;
    
}/*======================================== Background =====================================*/

.container{
	overflow: hidden;
	max-width: 100%;
	width: 100%;
	top:0;
	right:0;
	left: 0;
	
}

/******main******/
#page-content{
	top:0px;
	padding-right: 0px;
	background-color: transparent;
}
main{
    width: 100%;
    flex-grow: 1;
    margin: 0px auto;
    margin-top: 0px;
}
/****section****/
.l-section.height_full.valign_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.l-section.with_video {
    overflow: hidden;
} 
.l-section.color_secondary {
    color: rgb(255, 255, 255);
}
/**/
.l-section {
    position: relative;
    margin: 0px auto;
    background-size: cover;
    width: 100%;
}
/**/
section {
    display: block;
}
.l-section.height_full {
    padding-top: 4rem;
    padding-bottom: 4rem;
    min-height: 100vh;
}
 
 /*************** video sitting ***************/
 
 .1-section-video{
	
	top: 0px;
	margin: top;
	 
 }
 
.l-section-video > * {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
} 
.l-section-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/***************background footer****************/
div {
    display: block;
} 
.l-section-shape.pos_bottom {
    bottom: -1px;
}
.l-section-shape {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 15vh;
    color: rgb(255, 255, 255);
    overflow: hidden;
} 

/************** status of content*************/
.l-subheader-h, .l-section-h, .l-main .aligncenter, .w-tabs-section-content-h {
    max-width: 1140px;
}
.l-section-h {
    position: relative;
    width: 100%;
    margin: 0px auto;
}/*Media Query Function*/
@media (min-width: 768px){ 
.vc_col-sm-12 {
    width: 100%;
}} 
.us_custom_18cacfbe {
    font-size: 5vmax!important;
    line-height: 1.1!important;
}
.align_center {
    text-align: center;
}
h1 {
    font-family: sans-serif;
    line-height: 1.4;
    padding-top: 1.5rem;
    margin: 0px 0px 1.5rem;
} 
.w-separator {
    clear: both;
    line-height: 0;
    height: 1.5rem;
    overflow: hidden;
}
.w-btn-wrapper.align_left {
    display: inline-block;
    vertical-align: top;
    margin-right: 1.9rem;
}
.w-btn-wrapper {
    margin: 0.3rem 0px;
}
.align_left {
    text-align: left;
}

/*********************first anchor********************/
.l-section.color_primary a, .l-section.color_secondary a {
    color: inherit;
}
.us-nav-style_1 > *, .navstyle_1 > .owl-nav div, .us-btn-style_1 {
    font-family: Alata, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1em 0.2em;
    line-height: 1.2 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 0.2em;
    padding: 0.8em 1.8em;
    background: rgb(255, 166, 51);
    border-color: transparent;
} 

/******************* second anchor **********************/
.us-nav-style_4 > *, .navstyle_4 > .owl-nav div, .us-btn-style_4 {
    font-family: Alata, sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0em;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.1em 0.2em;
    line-height: 1.2 !important;
    color: rgb(51, 51, 51) !important;
    border-radius: 0.2em;
    padding: 0.8em 1.8em;
    background: rgb(255, 255, 255);
    border-color: transparent;
} 
/*End The First page:
	- 14 , 9 , 2020
	- 4:04 PM
	created By: Salma , Raghad, Mahmuod.
*/